NODE_PORT=""
NODE_ENV="development"
DATABASE_URL=""

# github credentials
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_REDIRECT_URI=""

# google credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

# secrets 
JWT_SECRET=
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN="7d"

# sessions 

SESSION_SECRET=""
