NODE_PORT=""
NODE_ENV="development"
DATABASE_URL=""

# github credentials


# google credentials


# secrets 
JWT_SECRET=
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN="7d"

# sessions 

SESSION_SECRET=""